.baclk-button-icon {
  padding-left: 0px !important;
}

.t-youtube-frame {
  position: absolute;
  top: 489px;
  width: 684px;
  height: 345px;
}

.tu46po .overlap-group-1 {
  display: flex;
  justify-content: center;
}

.overlap-group-1 {
  height: 970px !important;
}

.tu46po.screen {
  height: unset !important;
}

.tu46po .text-block-5 {
  bottom: 0px !important;
  top: unset !important;
}