.icon {
  padding-left: 0 !important;
}

.header {
  position: sticky !important;
  top: 0;
  z-index: 1;
}

.header-1 {
  background-color: var(--jaguar);
}

.left-collumn {
  position: sticky !important;
  top: 140px;
  z-index: 1;
}