<link rel="stylesheet" type="text/css" href="/css/custom/navbar.css">
<link rel="stylesheet" type="text/css" href="/css/navbar.css">
<link rel="stylesheet" type="text/css" href="css/styleguide.css" />
<link rel="stylesheet" type="text/css" href="css/globals.css" />

<input type="hidden" id="anPageName" name="page" value="mu46menu-screen" />
<div class="close mu46menu-screen screen" id="navbar">
  <div class="menu" style="width: 100%;">
    <div class="logo">
      <div class="logo-1 logo-2">
        <img class="logo-2" src="img/logo-placeholder@2x.png" alt="logo-placeholder" />
      </div>
      <div class="icon-button" id="navbar-close-button">
        <img class="icon" src="img/name-icon-close--size-24--theme-mode-dark@2x.png" alt="Icon" />
      </div>
    </div>
    <div class="links">
      <div class="m-nav-menu-tab">
        <div class="projects dmsans-bold-celeste-16px" id="m-projects-button">Projects</div>
      </div>
      <div class="m-nav-menu-tab">
        <div class="projects dmsans-bold-celeste-16px" id="m-experience-button">Experience</div>
      </div>
      <div class="m-nav-menu-tab">
        <div class="projects dmsans-bold-celeste-16px" id="m-skills-button">Skills</div>
      </div>
      <div class="m-nav-menu-tab">
        <a href="/static/CV-Georgi-Tonchev.pdf" target="_blank">
          <img class="micons-menu-tab" src="img/m-icons-menu-tab@2x.png" alt="m.icons menu tab" />
        </a>
      </div>
      <div class="m-nav-menu-tab">
        <a href="mailto: uxtonchev@gmail.com">
          <img class="micons-menu-tab" src="img/m-icons-menu-tab-1@2x.png" alt="m.icons menu tab" />
        </a>
      </div>
    </div>
  </div>
</div>